<template>
  <div class="main">
    <NewsList />
  </div>
</template>

<script>
import NewsList from './NewsList.vue'
export default {
  name: 'MainVuePage',
  components: {
    NewsList
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
