<template>
  <div class="news-content-box">
    <div v-for="(items, key) in news" v-bind:key="key">
      <!-- <div>{{ items }}</div> -->
      <div v-if="items.nid" class="news-section">
        <div class="news-details">
          <div class="news-title">
            <h3 v-if="items.body">
              <span>
                {{items.body.value}}
              </span>                
              
            </h3>
            <h3 v-else>
              <a :href="'/node/' + items.nid[0].value">
                {{ items.title[0].value }}
              </a>
            </h3>
          </div>
          <div class="news-body">
            {{ items.body[0].value }}
          </div>
          <div class="allen-news-read-more">
            <span>
              <a href="#">Read More</a>
            </span>
          </div>
          <div class="export-news">
            <a
              href="#"
              target="_blank"
            >
              <em class="fas fa-sign-out-alt"></em
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import sample from "../assets/sample.json"

export default {
  name: "NewsList",
  data: function () {
    return {
      news: [],
    };
  },
  async created() {
    /* Fetch data from Drupal API */
    // const response = await this.getNews();
    // this.news = response.data;

    /** Fetch JSON From Asset */
    this.news = sample;
  },
  methods: {
    getNews: async () => {
      return axios.get(
        `http://drupalvuelocal.test/news?_format=json`);
    },
  },
  mounted: function(){},
  computed: function(){},
};
</script>
