<template>
  <MainVuePage />
</template>

<script>
import MainVuePage from './components/MainVuePage.vue'

export default {
  name: 'App',
  components: {
    MainVuePage
  }
}
</script>

<style>

</style>
